
@mixin setNumber($n){
    @for $i from 1 to $n{
        li:nth-of-type(#{$i}){
            &:after{
                content: "#{$i}";
            }       
        }
    }
}

@mixin clearFix {
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}